.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--color-fuente-suave);
  border-radius: var(--radio-contenedor);
  padding: 1.5rem;
  max-width: 40rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.contenedor-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registrate a {
  color: var(--color-fuente-medio);
}
.titulo-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.contenedor-input-login {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30em;
  gap: var(--margen-entre-inputs);
}
.contenedor-input-login fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--margen-input-label);
  border: none;
}
.input-password {
  position: relative;
}
.contenedor-botones-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.registrate {
  color: var(--color-fuente-medio);
  margin-top: var(--margen-contenedor);
}
.contenedor-botones-login button {
  max-height: var(--input-height);
  margin-top: 0;
  width: 37em;
}
.reingreso {
  border: 0.01rem solid red;
}
.mensaje-alerta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3125rem;
  color: red;
}
.circulo-rojo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6em;
  width: 2.6em;
  background-color: var(--color-primario);
  border-radius: 50%;
}

.icono{
    height: 2.19rem;
    width: 2.19rem;
}


/* Mobile */
@media (max-width: 640px) {
  .contenedor-input-login {
    width: 20em;
  }
  .contenedor-botones-login button {
    width: 26em;
  }
  .login-form {
    height: 100%;
    width: 100vw;
  }
  .login-form {
    justify-content: center;
  }
}