:root {
  --color-primario: #8c1c13;
  --color-primario-hover: #a00000;
  --color-primario-active: #c00000;
  --color-secundario: #b3b3b3;
  --color-secundario-hover: #e4e4e4;
  --color-secundario-active: #cfcfcf;
  --color-terciario: #ff7e05;
  --color-background: #f2f2f2;
  --color-fuente-fuerte: #000000;
  --color-fuente-medio: #735751;
  --color-fuente-suave: #ffffff;
  --color-fuente-rojita: #9c5656;
  --color-borde-suave: #ccbcbc;
  --ancho-contenedor: 71.80rem;
  --radio-contenedor: 1rem;
  --radio-elementos: 0.5rem;
  --input-height: 2.5rem;
  --font-family: "Work Sans", sans-serif;
  --margen-contenedor: 1.5rem;
  --margen-input-label: 0.4rem;
  --margen-entre-inputs: 1.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  font-family: var(--font-family);
}
img {
  width: 100%;
  height: 100%;
  border-radius: var(--radio-elementos);
}

.filas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: var(--color-fuente-fuerte);
}

h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  font-size: 1rem;
}
.fuente-oscuro {
  color: var(--color-fuente-fuerte);
}
.contenedor {
  width: 100%;
  background-color: var(--color-fuente-suave);
  border-radius: var(--radio-contenedor);
  padding: 1.5rem;
}

/* Breakpoint tablet */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.1rem;
  }
}

/* Breakpoint mobile */
@media (max-width: 640px) {
  h1{
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
}
