.ingredientes-contenedor {
    max-width: var(--ancho-contenedor);
    width: 95%;
    height: 100%;
    margin: var(--margen-contenedor);
    font-weight: 400;
    color: var(--color-fuente-medio);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenido {
    width: 100%;
}
body {
    flex-direction: column;
    align-items: center;
}
.contenedor {
    margin-top: var(--margen-contenedor);
    padding: 0;
}
.grid-contenedor {
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr
}
.mostrar-mobile {
    display: none;
}

@media screen and (max-width: 640px) {
    .grid-contenedor {
        grid-template-columns: 2fr 1fr 2fr
    }
    .mostrar-mobile {
        display: flex;
    }
}
