/* ====== ESTILOS ESPECÍFICOS PARA LISTA DE PEDIDOS ====== */
.contenedor-pedidos{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-tabs{
  margin: var(--margen-contenedor) 0;
}
.navegacion-pedidos{
  padding-left: 1rem;
  max-width: var(--ancho-contenedor);
  width: 100%;
}
.navegacion-pedidos h1 {
  padding-left: 1rem;
}

.tabs-pedidos {
  display: flex;
  border-bottom: 0.01rem solid var(--color-secundario); /* Línea invisible para evitar salto */
  margin-top: var(--margen-contenedor);
  padding-left: 1rem;
}

.tabs-pedidos button {
  background: none;
  border: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--color-secundario); /* Gris para inactivos */
  border-bottom: 0.01rem solid var(--color-secundario); /* Línea invisible para evitar salto */
  cursor: pointer;
  margin: 0 0.5rem;
}

.tabs-pedidos button:hover {
  color: var(--color-fuente-fuerte); /* Resalta al pasar el mouse */
  border-bottom: 0.1rem solid var(--color-fuente-fuerte); /* Línea visible para activo */
}

.tabs-pedidos button.active {
  color: var(--color-fuente-fuerte); /* Texto activo */
  font-weight: 700;
}
/* Grid de pedidos */
.ordenes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-items: center;
  width: 90%;
  max-width: var(--ancho-contenedor);
}
/* Tarjetas */
.ordenes-card {
  min-width: 360px;
  max-width: 500px;
  width: 100%;
  background: var(--color-fuente-suave);
  border-radius: var(--radio-contenedor);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 0.1rem solid var(--color-secundario);
}

.boton-preparar {
  display: flex;
  justify-content: center;
  min-height: 2em;
  width: 30%;
  min-width: 0;
  align-self: flex-end;
}
@media (max-width: 1024px) {
  .container {
    padding: 0.5rem;
  }
  .ordenes-container {
    gap: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 640px) {
  .tabs button {
    font-size: 0.8rem;
    margin: 0 0.2rem;
  }
  .tabs{
    justify-content: space-around;
    font-size: 0.8rem;
  }
  .ordenes-card {
    min-width: 320px;
  }
  .boton-primario {
    padding: 1rem;
  }
  .ordenes-container{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}