.contenedor-perfil {
  max-width: var(--ancho-contenedor);
  width: 100%;
  margin: var(--margen-contenedor);
  display: flex;
  flex-direction: column;
  gap: var(--margen-contenedor);
}
.img-local {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 250px;
}
.identidad-input {
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 0;
}
.fila-input {
  display: flex;
  justify-content: center;
  gap: var(--margen-entre-inputs);
  flex-grow: 1;
}

.datos-direccion h2 {
  align-self: self-start;
}

.container-checkboxes-local {
  display: flex;
  align-items: center;
  gap: var(--margen-entre-inputs);
  margin-left: var(--margen-entre-inputs);
}

/* BREAKPOINT MOBILE */
@media (max-width: 640px) {
  .img-local {
    min-width: 0;
  }
  .fila-input {
    flex-direction: column;
  }
  .container-checkboxes-local {
    flex-direction: column;
    align-items: self-start;
  }
}